<div class="favorite">
  <div class="container">
    <div class="favorite-title">Избранное</div>
    <div *ngIf="!products || (products && products.length === 0)" class="favorite-empty">
      <div>В избранном нет товаров</div>
      <button class="button" routerLink="/catalog">В каталог</button>
    </div>

    <div *ngIf="products && products.length > 0" class="favorite-products">
      <div *ngFor="let product of products" class="favorite-product">
        <div class="favorite-product-image" style="background-image: url({{serverStaticPath + product.image}})"></div>
        <div class="favorite-product-name">{{ product.name }}</div>
        <div class="favorite-product-price">{{ product.price }} BYN</div>
        <div class="favorite-product-action">
          <button class="button" routerLink="/product/{{product.url}}">Открыть</button>
        </div>
        <div (click)="removeFromFavorites(product.id)" class="favorite-product-remove">
          <svg fill="none" height="14" viewBox="0 0 16 17" width="14" xmlns="http://www.w3.org/2000/svg">

            <line stroke="#A8ABA7" stroke-linecap="round" x1="1.93562" x2="13.9564" y1="3.50635" y2="15.5272"/>
            <line stroke="#A8ABA7" stroke-linecap="round" x1="13.9238" x2="1.90301" y1="3.4864" y2="15.5072"/>

          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
