<div class="favorite">
    <div class="container">
        <div class="favorite-title">Избранное</div>
        <div class="favorite-products">
            <div class="favorite-product" *ngFor="let product of products">
                <div class="favorite-product-image" style="background-image: url({{serverStaticPath + product.image}})"></div>
                <div class="favorite-product-name">{{product.name}}</div>
                <div class="favorite-product-price">{{product.price}} BYN</div>
                <div class="favorite-product-action">
                    <button class="button" routerLink="/product/{{product.url}}">Открыть</button>
                </div>
                <div class="favorite-product-remove" (click)="removeFromFavorites(product.id)">
                    <svg width="14" height="14" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    
                        <line x1="1.93562" y1="3.50635" x2="13.9564" y2="15.5272" stroke="#A8ABA7" stroke-linecap="round"/>
                        <line x1="13.9238" y1="3.4864" x2="1.90301" y2="15.5072" stroke="#A8ABA7" stroke-linecap="round"/>
                    
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
